.con{
    width: 500px;
    height: 510px;
    margin: auto;
    margin-top: 20px;
    
}


.container{
    margin-left:35vw;

}



.con {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 500px;
    height: 510px;
    margin: auto;
    margin-top: 3px;
    color: aliceblue;
    font-size:x-large;

}
.p{
    margin-left: 80%;
    font-size:18px;
}
.h1{
    font-size:80px;
}






  
